@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
}

.container {
    max-width: 945px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    padding: 33px 0px;
}

a {
    text-decoration: none;
    color: #828282;

}

a:hover {
    color: #000000;
}

.active {
    color: black;
}

.line {
    width: 100%;
    border: 1px solid #828282;
}

p {
    line-height: 22px;
}

h1 {
    font-size: 48px;
    width: 125px;
}

h2 {
    font-size: 34px;
    line-height: 42px;
}

h1, h2, h3 {
    font-family: 'Gilroy-Bold';
}

.Header_Foto_FZ {
    width: 100%;
}

.header_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

.language {
    transform: rotate(-90deg);
    font-family: 'Gilroy-Bold';
    font-size: 16px;
}

.About_Me {
    margin: 105px 0px 0px;
    padding: 120px 0px 110px;
    background-color: #F6F6F6;
}

.About_Me .container {
    max-width: 485px;
    min-width: 300px;
    text-align: center;
}

.About_Me h2 {
    margin-bottom: 17px;
}

.About_Me p:nth-child(3) {
    padding: 25px 0px;
}