@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.main_content {
    flex: 1 0 auto;
}

.container {
    max-width: 945px;
    min-width: 300px;
    padding: 0 30px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    padding: 33px 0px;
}

a {
    text-decoration: none;
    color: #828282;

}

a:hover {
    color: #000000;
}

.active {
    color: black;
}

.line {
    width: 100%;
    border: 1px solid #828282;
}

p {
    line-height: 22px;
}

h1 {
    font-size: 48px;
    width: 125px;
}

h2 {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

h3 {
    color: #828282;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Gilroy-Bold';
}

.Header_Foto_FZ {
    width: 100%;
}

.header_information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

.language {
    transform: rotate(-90deg);
    font-family: 'Gilroy-Bold';
    font-size: 16px;
}

.About_Me {
    margin: 105px 0px 0px;
    padding: 120px 0px 110px;
    background-color: #F6F6F6;
}

.About_Me .container {
    /*width: 485px;
    min-width: 300px; FIX*/
    text-align: center;
}

.About_Me h2 {
    margin-bottom: 17px;
}

.About_Me p:nth-child(3) {
    padding: 25px 0px;
}

.rating-result {
	margin: 0 auto;
    text-align: center;
    user-select: none;
    margin-top: auto;
}

.rating-result span {
	font-size: 26px;
	line-height: 1;
	color: #e5e5e5;
}

.rating-result > span.star_active {
	color: #070707;
}

.Skills p {
    text-align: center;
    margin-bottom: 87px;
}

.working_program {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 165px;
    margin-bottom: 110px;
}

.skills_block img {
    width: 89px;
}

.Skills {
    margin-top: 90px;
}

.working_program h3 {
    margin: 23px 0px 41px;
}

.Portfolio {
    padding: 110px 0px 100px;
    text-align: center;
    background-color: #F6F6F6;
}

.Portfolio_block {
    margin-top: 100px;
   
}

.Portfolio_block img {
    width: 100%;
}

.Portfolio_Work_Link {
    display: block;
    margin-top: 45px;
    color: #000;
    text-decoration: underline;
}

.button {
    background-color: #000;
    border-radius: 28px;
    color: #fff;
    padding: 12px 30px;
}

.button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

footer {
    padding-top: 110px;
    padding-bottom: 125px;
    flex: 0 0 auto;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#button_title {
    margin: 20px 0px 42px;
    text-align: center;
}

.icons {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin: 91px -60px 0px;
}

.icon-bar img {
    user-select: none;
    pointer-events: none;
}

.title_links {
    margin-top: 45px;
    font-size: 14px;
    color: #828282;
    user-select: none;
}
